/* DEFAULT TAGS */
* {
    box-sizing        : border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    -o-box-sizing     : border-box;
    font-family       : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body {
    padding: 0;
    margin : 0;
    height : 100%;
}

ul, li {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

a {
    text-decoration: none;
    color          : #4da9e2;
}

body {
    color: #333;
}
/* END DEFAULT TAGS */

/* MENU CONTENT */
#menu {
    width     : 100%;
    background: #4da9e2;
    color     : #FFF;
}

#menu-open {
    display   : inline-block;
    padding   : 10px 15px;
    margin    : 10px;
    background: rgba(0,0,0,.2);
    border-radius: 4px;
}

#menu-content {
    width  : 100%;
    display: none;
}

#menu-content li {
    display            : block;
    width              : 100%;
    padding            : 0 10px;
    text-align         : center;
    border             : 0px solid #FFF;
    border-color       : rgba(255,255,255,.4);
    border-bottom-width: 1px;
}

#menu-content li:first-child {
    border-top-width: 1px;
}

#menu-content li a {
    line-height   : 40px;
    display       : block;
    width         : 100%;
    line-height   : 50px;
    font-size     : 13px;
    text-transform: uppercase;
    color         : #FFF;
}

#menu-content.visible {
    display: block;
}
/* END MENU CONTENT */

/* CONTENT OF THE PAGE */
.content {
    width : 100%;
    padding: 0 1em;
}
/* END CONTENT OF THE PAGE */

/* FORM CONTENT */
#form-register {
    width: 100%;
}

.form-header {
    text-transform: uppercase;
    color         : #666;
}

.input-group {
    padding: 10px 0;
}

.form-label {
    display      : block;
    margin-bottom: 5px;
    font-size    : 13px;
    color        : #555;
}

.form-input {
    width        : 100%;
    padding      : 7px 10px;
    border       : 1px solid #CCC;
    border-radius: 2px;
    font-size    : 15px;
}

.form-description {
    display      : block;
    margin-bottom: 5px;
    font-size    : 13px;
    color        : #555;
    font-style   : italic;
}

.form-button {
    min-width     : 100px;
    padding       : 7px 10px;
    cursor        : pointer;
    border        : 1px solid #4da9e2;
    border-radius : 2px;
    background    : none;
    color         : #4da9e2;
    text-transform: uppercase;
    font-size     : 12px;
}

.form-button:hover,
.form-button:active {
    background: #4da9e2;
    color     : #FFF;
}

#message-result {
    min-width     : 100%;
    display       : inline-block;
    margin        : 20px 0;
    padding       : 10px 15px;
    border-radius : 2px;
    background    : lightcoral;
    font-size     : 13px;
    color         : #FFF;
    text-transform: uppercase;
}

#message-result:empty {
    display: none;
}

#message-result.success {
    background: lightgreen;
    color     : darkgreen;
}
/* END FORM CONTENT */

@media(min-width: 480px) and (max-width:979px) {
    #form-register {
        width : 70%;
        margin: 4em auto;
    }
}

@media (min-width: 980px) {
    #menu-open {
        display: none;
    }

    #menu-content {
        display: block;
        width  : 980px;
        margin : 0 auto;
    }

    #menu-content li {
        display     : inline-block !important;
        width       : auto;
        min-width   : 80px;
        margin-right: 5px;
    }
    
    #menu-content li a {
        line-height  : 50px;
        margin       : 20px 0;
        padding      : 0 20px;
        border-radius: 2px;
        background   : rgba(0,0,0,.04);
    }

    .container .content {
        width: 980px;
        margin: 0 auto;
    }

    #form-register {
        width: 450px;
    }
}

